<%provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is my rails sandbox.  That's about all I can say right now...
    </p>
  </body>
</html>