<%provide(:title, "Help")%>
<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This is my rails Sandbox help page.  Right now I'm the one looking for help...
    </p>
  </body>
</html>